{% extends "layouts/app.layout.njk" %}

{% block content %}

    <div class="uk-flex uk-flex-column vh-100">

        {% include "sections/hero.section.njk" %}

        {% include "sections/first.section.njk" %}

        {% include "sections/second.section.njk" %}
        
        {% include "sections/third.section.njk" %}

        {% include "sections/fourth.section.njk" %}

        {% include "partials/footer.partial.njk" %}
    
    </div>
{% endblock %}