{% macro links() %}
    <li>
        <a href="#hero">Home</a>
    </li>
    <li>
        <a href="#about">About</a>
    </li>
    <li>
        <a href="#benefits">Benefits</a>
    </li>
    <li>
        <a href="#howitworks">How It Works</a>
    </li>
    <li>
        <a href="#contact">Contact Us</a>
    </li>
{% endmacro %}