/*
* -------------------------------------------------------------------------------------------------------------------
* This file manages the mixin overwrites for customizing UIKit.
* -> Refer to https://getuikit.com/docs/sass for more info.
* -------------------------------------------------------------------------------------------------------------------
* Note: Do not use this file for writing custom css.
* Note: Use _variables.scss for overriding or including variables
*/

// => Your hooks here //

/*
@mixin hook-card () {

    // => Include customization for card
    
}
*/

$modifications: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    warning: $warning,
    muted: $muted,
    danger: $danger,
    default: $dark,
);

@mixin hook-button () {
    font-size: 14px;
    font-weight: 400;
    // height: 50px;
    padding: 5px 30px;

    &.uk-button-outline {

        background: transparent !important;
        border: 2px solid $dark;
        color: $global-emphasis-color;

        @each $key,$color in $modifications  {
            &.uk-button-#{$key} {
                border-color: $color;
                color: $color;

                &:hover {
                    color: $color;
                    background: transparentize($color, 0.8) !important;
                }
            }
        }
    }
}

// navbar
@mixin hook-navbar-nav-item() {
    color: $light;
    text-transform: capitalize;
    font-size: 14px;
    margin: 0 0.75rem;
}

// list bullet
@mixin hook-list-bullet() {

    content: $list-bullet-icon;
    font-family: $icon-font-family;
    font-weight: 900;
    color: $list-bullet-icon-color;
    background: none !important;
}
