.nav-logo {
    img {
        width: 230px;
    }
}

.text-light {
    font-weight: 300;
}

#features {

    @media screen and (min-width: $breakpoint-medium) {
        transform: translateY(-50%);
    }

    transform: translateY(-25%);
    
    .uk-card {

        width: 85%;

        .feature-title {
            font-size: 1.45rem;
        }
    }
}