/*
* -------------------------------------------------------------------------------------------------------------------
* This file manages the custom theming of UIKit.
* -> Refer to https://getuikit.com/docs/sass for more info.
* -> Follow the link: https://github.com/uikit/uikit/blob/develop/src/scss/variables.scss for a list of all variables
* -------------------------------------------------------------------------------------------------------------------
* Note: Do not use this file for writing custom css.
* Note: Use _hooks.scss for mixin overwrites
*/

// COLORS //
$primary:   #FFCF27;
$secondary: #323C46;

$success:   #8bc34a;
$warning:   #ffc107;
$danger :   #f44336;
$muted  :   #F0F0F0;

$dark   :   #1B2025;
$gray   :   #666;
$light  :   #ffffff;

// OVERRIDES //
$global-primary-background:     $primary;
$global-secondary-background:   $secondary;

$global-success-background:     $success;
$global-warning-background:     $warning;
$global-danger-background:      $danger;
$global-muted-background:       $muted;

$global-link-color:             $primary;
$base-link-hover-text-decoration: none;

$global-color:                  $gray;
$global-emphasis-color:         $dark;
$global-inverse-color:          $light;

$global-font-family:            'Quattrocento Sans', sans-serif;
$global-font-size:              15px;

$global-border:               #A4A4A4;

// navbar
$inverse-navbar-nav-item-color:                 $light;
$inverse-navbar-nav-item-hover-color:           $primary;
$inverse-navbar-nav-item-onclick-color:         $primary;
$inverse-navbar-nav-item-active-color:          $light;

// hamburger toggle
$navbar-toggle-color:                   $primary;
$navbar-toggle-hover-color:             $light;

// hamburger menu
$nav-primary-item-font-size:            2.5rem;
$nav-primary-item-line-height:          2em;

// border-radius
$border-rounded-border-radius: 5px;

// overlay
$overlay-primary-background: rgba(#000, 0.53);
$overlay-primary-color-mode: dark;

// heading
$heading-medium-font-size-l:    3rem !default;
$heading-large-font-size-l:     3.2rem !default;
$heading-xlarge-font-size-l:    4.8rem !default;
$heading-2xlarge-font-size-l:   8.5rem !default;

// list
$list-bullet-icon-color: #232C35;
$list-bullet-icon: '\f101';

// => Add your own theming variables below //

$icon-font-family: 'Font Awesome 5 Free';

// Benefits
$benefit-card-text-color: #b9c5d5;
$benefit-card-title-color: $benefit-card-text-color;
$benefit-card-list-item-color: $benefit-card-text-color;


// for bullet icon change $list-bullet-icon (Refer Font Awesome 5 icons for unicode)
// for bullet color change $list-bullet-icon-color

// how it works
$hiw-connector-color: #A9D2E9;
$hiw-connector-thickness: 1.5px;

$hiw-icon-width: 100px;
$hiw-icon-width-small: 60px;

// (x) Donot write custom styling here //