<div class="uk-section uk-section-muted" id="contact">
    <div class="uk-container uk-text-center">
        
        <!-- Section Title -->
        <h2 class="uk-heading-medium uk-text-bold uk-margin-remove-bottom">Contact Us</h2>
        <div class="text-light">If you have any questions, we would love to help.</div>

        <div class="uk-margin-large-top uk-text-left@m">
            <div>
                <div class="uk-text-meta uk-text-large uk-text-bold">Toll Free</div>
                <div class="uk-heading-small text-xlarge uk-text-bold uk-margin-remove">1-800-304-7501</div>
            </div>

            <div class="uk-margin-top">
                <div class="uk-text-meta uk-text-large uk-text-bold">Email @</div>
                <div class="uk-heading-small text-xlarge uk-text-bold uk-margin-remove">sales@icrimefighter.com</div>
            </div>

            <div class="uk-visible@m uk-height-small"></div>
        </div>

        <div id="contact-form-container" class=" uk-card uk-card-default uk-card-body uk-card-medium uk-margin-large-top" uk-parallax="media: @m; y: 25%, 0">
            {% include "partials/contact-form.partial.njk" %}
        </div>
    </div>
</div>