<!--
    Section: Features
    Images: assets/images/features
-->

<div id="features" class="uk-flex uk-flex-center" uk-parallax="media: @m; y:-10%, -50%; easing:-2">
    <div class="uk-card uk-card uk-card-default uk-card-body uk-border-rounded">
        <div class="uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@m" uk-grid>

            <!-- Secure Cloud Sync -->
            <div class="uk-text-center">
                <div class="feature-image">
                    <img src="assets/images/features/cloud.svg" alt="Secure Cloud Sync"><!-- feature icon -->
                </div>
                <h4 class="feature-title uk-margin-small uk-text-bold">Secure Cloud Sync</h4><!-- feature title -->
                <p class="uk-margin-remove text-light">Securely upload and store evidence in a FIPS compliant cloud storage.</p><!-- feature description -->
            </div>

            <!-- Collaborate -->
            <div class="uk-text-center">
                <div class="feature-image">
                    <img src="assets/images/features/collaborate.svg" alt="Collaborate"><!-- feature icon -->
                </div>
                <h4 class="feature-title uk-margin-small uk-text-bold">Collaborate</h4><!-- feature title -->
                <p class="uk-margin-remove text-light">Colleagues can instantly access uploaded evidence.</p><!-- feature description -->
            </div>

            <!-- Photos -->
            <div class="uk-text-center">
                <div class="feature-image">
                    <img src="assets/images/features/photos.svg" alt="Photos"><!-- feature icon -->
                </div>
                <h4 class="feature-title uk-margin-small uk-text-bold">Photos</h4><!-- feature title -->
                <p class="uk-margin-remove text-light">Take photos from any device and add them to case files</p><!-- feature description -->
            </div>

            <!-- Audio/Videos -->
            <div class="uk-text-center">
                <div class="feature-image">
                    <img src="assets/images/features/multimedia.svg" alt="Audio/Videos"><!-- feature icon -->
                </div>
                <h4 class="feature-title uk-margin-small uk-text-bold">Audio/Videos</h4><!-- feature title -->
                <p class="uk-margin-remove text-light">Conduct interviews, record evidence and add to case files.</p><!-- feature description -->
            </div>
        </div>
    </div>
</div>