<!--
    Section: Section 1
    Images: assets/images/section-1
-->

<div class="uk-section uk-section-muted uk-padding-small">
    <div class="uk-container" id="about">

        <div class="uk-grid-large" uk-grid>

            <div class="uk-width-1-1 uk-width-1-2@m"></div>
        </div>
    </div>
</div>