<!--
    Section : Section 4
    Images  : assets/images/section-4
-->
<div class="uk-section uk-section-default" id="howitworks">
    <div class="uk-container uk-text-center">

        <!-- Section Title -->
        <h2 class="uk-heading-small uk-text-secondary text-light uk-margin-medium-bottom">How It Works</h2>

        <div id="hiw-container">

            <div id="hiw-cloud">
                <div class="image">
                    <img src="assets/images/section-4/cloud.svg" alt="iCrimeFighter Cloud Server">
                </div>
            </div>

            <div id="hiw-mobile">
                <div class="image">
                    <img src="assets/images/section-4/mobile.svg" alt="iCrimeFighter Mobile App">
                </div>
                <div class="content">
                    <h3 class="uk-heading uk-margin-small-bottom">Mobile App</h3>
                    <span class="text">Take and gather photos, audio, video, and notes in the field and securely upload to the cloud.</span>
                </div>
            </div>

            <div id="hiw-portal">
                <div class="image">
                    <img src="assets/images/section-4/desktop.svg" alt="iCrimeFighter Online Portal">
                </div>
                <div class="content">
                    <h3 class="uk-heading uk-margin-small-bottom">Online Portal</h3>
                    <span class="text">View all evidence collected in the field through iCrimeFighter’s web portal on a desktop, laptop or tablet.</span>
                </div>
            </div>

            <div id="hiw-department">
                <div class="image">
                    <img src="assets/images/section-4/badge.svg" alt="Department Collaboration">
                </div>
                <div class="content">
                    <h3 class="uk-heading uk-margin-small-bottom">Department Collaboration</h3>
                    <span class="text">When iCrimeFighter is deployed to a team or agency, case data can be shared among other department users.</span>
                </div>
            </div>

            <div id="hiw-mobile-connect"></div>
            <div id="hiw-portal-connect"></div>
            <div id="hiw-department-connect"></div>
        </div>
    </div>
</div>