<!--
    Section : Section 2
    Images  : assets/images/section-2
-->

<div class="uk-section uk-section-default uk-padding padding-extra-vertical" id="mobile-app">

    <div class="uk-container uk-text-center">
        <div class="uk-grid-large" uk-grid>

            <div class="uk-text-center uk-width-1-1 uk-width-1-2@m uk-flex-last@m">
                <img src="assets/images/section-2/app-mockup.png" alt="App Mockup">
            </div>
            
            <div class="uk-width-1-1 uk-width-1-2@m uk-text-left@m">
                <!-- Section heading -->
                <h2 class="uk-heading-small text-light uk-margin-large-bottom">The iCrimeFighter mobile application will replace</h2>

                <div class="uk-grid-large uk-child-width-1-2 replace-items uk-text-left" uk-grid>

                    <!-- Digital Camera -->
                    <div class="uk-flex uk-flex-middle">
                        <div class="item-icon">
                            <img src="assets/images/section-2/camera.svg" alt="Digital Camera"><!-- item icon -->
                        </div>
                        <div class="uk-margin-small-left item-text">Digital Camera</div> <!-- item title -->
                    </div>

                    <!-- Audio Recorder -->
                    <div class="uk-flex uk-flex-middle">
                        <div class="item-icon">
                            <img src="assets/images/section-2/microphone.svg" alt="Audio Recorder"> <!-- item icon -->
                        </div>
                        <div class="uk-margin-small-left item-text">Audio Recorder</div> <!-- item title -->
                    </div>

                    <!-- Video Camera -->
                    <div class="uk-flex uk-flex-middle">
                        <div class="item-icon">
                            <img src="assets/images/section-2/video_camera.svg" alt="Video Camera"> <!-- item icon -->
                        </div>
                        <div class="uk-margin-small-left item-text">Video Camera</div> <!-- item title -->
                    </div>

                    <!-- Notebook -->
                    <div class="uk-flex uk-flex-middle">
                        <div class="item-icon">
                            <img src="assets/images/section-2/notepad.svg" alt="Notebook"> <!-- item icon -->
                        </div>
                        <div class="uk-margin-small-left item-text">Notebook</div> <!-- item title -->
                    </div>

                    <!-- USB Drives -->
                    <div class="uk-flex uk-flex-middle">
                        <div class="item-icon">
                            <img src="assets/images/section-2/usb_drives.svg" alt="USB Drives"> <!-- item icon -->
                        </div>
                        <div class="uk-margin-small-left item-text">USB Drives</div> <!-- item title -->
                    </div>

                    <!-- CD/DVDs -->
                    <div class="uk-flex uk-flex-middle">
                        <div class="item-icon">
                            <img src="assets/images/section-2/cd_dvd.svg" alt="CD/DVDs"> <!-- item icon -->
                        </div>
                        <div class="uk-margin-small-left item-text">CD/DVDs</div> <!-- item title -->
                    </div>

                    <!-- Servers -->
                    <div class="uk-flex uk-flex-middle">
                        <div class="item-icon">
                            <img src="assets/images/section-2/servers.svg" alt="Servers"> <!-- item icon -->
                        </div>
                        <div class="uk-margin-small-left item-text">Servers</div> <!-- item title -->
                    </div>

                    <!-- Delivery Folks -->
                    <div class="uk-flex uk-flex-middle">
                        <div class="item-icon">
                            <img src="assets/images/section-2/delivery_folks.svg" alt="Delivery Folks"> <!-- item icon -->
                        </div>
                        <div class="uk-margin-small-left item-text">Delivery Folks</div> <!-- item title -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>