<!--
    Section : Section 2
    Images  : assets/images/section-2
-->

<div class="uk-section uk-section-default uk-padding padding-extra-vertical">

    <div class="uk-container uk-text-center">
        <div class="uk-grid-large" uk-grid>
            
            <div class="uk-width-1-1 uk-width-1-2@m uk-text-left@m">
                <!-- Section heading -->
                <h2 class="uk-heading-medium text-light uk-margin-large-bottom">The iCrimeFighter mobile application will replace</h2>

                <div class="uk-grid-large uk-child-width-1-2" uk-grid>

                    <!-- Digital Camera -->
                    <div class="uk-flex uk-flex-middle">
                        <img src="assets/images/section-2/camera.svg" alt="Digital Camera"> <!-- item icon -->
                        <div class="uk-text-large uk-margin-small-left">Digital Camera</div> <!-- item title -->
                    </div>

                    <!-- Audio Recorder -->
                    <div class="uk-flex uk-flex-middle">
                        <img src="assets/images/section-2/microphone.svg" alt="Audio Recorder"> <!-- item icon -->
                        <div class="uk-text-large uk-margin-small-left">Audio Recorder</div> <!-- item title -->
                    </div>

                    <!-- Video Camera -->
                    <div class="uk-flex uk-flex-middle">
                        <img src="assets/images/section-2/video_camera.svg" alt="Video Camera"> <!-- item icon -->
                        <div class="uk-text-large uk-margin-small-left">Video Camera</div> <!-- item title -->
                    </div>

                    <!-- Notebook -->
                    <div class="uk-flex uk-flex-middle">
                        <img src="assets/images/section-2/notepad.svg" alt="Notebook"> <!-- item icon -->
                        <div class="uk-text-large uk-margin-small-left">Notebook</div> <!-- item title -->
                    </div>
                </div>
            </div>

            <div class="uk-text-center uk-width-1-1 uk-width-1-2@m">
                <img src="assets/images/section-2/app-mockup.png" alt="App Mockup">
            </div>

        </div>
    </div>
</div>