<!--
    Section : Section 3
    Images  : assets/images/section-3
-->
<div class="uk-section uk-section-muted" id="benefits">
    <div class="uk-container uk-text-center">

        <!-- Section heading -->
        <h2 class="uk-heading-small uk-text-secondary text-light uk-margin-large-bottom">Benefits</h2>

        <div class="uk-padding-small">
            <div class="uk-grid-large" uk-grid>

                <!-- To Command -->
                <div class="uk-width-1-1 uk-width-1-3@m">
                    <div class="uk-card uk-border-rounded uk-card-secondary uk-card-body benefit-card uk-height-1-1">

                        <h4 class="uk-card-title">To Command</h4> <!-- item title -->

                        <!-- item list -->
                        <ul class="uk-list uk-text-small uk-list-bullet uk-text-left">
                            <li>More efficient workflows with evidence shared with entire agency in one click</li>
                            <li>Documented chain of custody throughout entire process</li>
                            <li>Saves at least 30 minutes of officer time for every case worked</li>
                        </ul>

                    </div>
                </div>

                <!-- To Field Officers -->
                <div class="uk-width-1-1 uk-width-1-3@m">
                    <div class="uk-card uk-border-rounded uk-card-secondary uk-card-body benefit-card uk-height-1-1">

                        <h4 class="uk-card-title">To Field Officers</h4> <!-- item title -->

                        <!-- item list -->
                        <ul class="uk-list uk-text-small uk-list-bullet uk-text-left">
                            <li>One easy to use app replaces multiple standalone devices (e.g. cameras, microphones, video cams, notepad and body cams)</li>
                            <li>All evidence centrally stored and organized by case</li>
                            <li>Multiple officers can upload evidence simultaneously to the same case</li>
                        </ul>

                    </div>
                </div>

                <!-- To Technology/Records -->
                <div class="uk-width-1-1 uk-width-1-3@m">
                    <div class="uk-card uk-border-rounded uk-card-secondary uk-card-body benefit-card uk-height-1-1">

                        <h4 class="uk-card-title">To Technology/ Records</h4> <!-- item title -->

                        <!-- item list -->
                        <ul class="uk-list  uk-text-small uk-list-bullet uk-text-left">
                            <li>Files uploaded and stored with 256 bit encryption in FIPS compliant AWS GovCloud storage</li>
                            <li>Easily share cases within and outside agency</li>
                            <li>All officers using standard process for evidence collection</li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    
    </div>
</div>