<form action="{{data.forms.contact.action}}" class="contact-form uk-text-center">
    <h4 class="uk-text-large uk-text-bold">Get In Touch</h4>

    <div class="uk-margin">
        <input type="text" class="uk-input uk-border-rounded" name="name" placeholder="Name">
    </div>

    <div class="uk-margin">
        <input type="text" class="uk-input uk-border-rounded" name="email" placeholder="Email">
    </div>

    <div class="uk-margin">
        <input type="text" class="uk-input uk-border-rounded" name="phone" placeholder="Phone">
    </div>

    <div class="uk-margin">
        <textarea style="resize: none;" class="uk-textarea uk-border-rounded" name="message" cols="30" rows="5" placeholder="Message"></textarea>
    </div>

    <button type="submit" class="uk-button uk-button-outline uk-button-default uk-width-1-2 uk-margin-top">
        Send
    </button>
</form>