<div id="contact-form-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-large">
        <div class="uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            
            {% include "partials/contact-form.partial.njk" %}
        </div>
    </div>
</div>