<div class="footer uk-section uk-section-secondary uk-padding-remove uk-text-small">
    <div class="uk-padding">
        <div class="uk-container">
            <a href="{{app.url}}" class="footer-logo">
                <img src="{{app.logo}}" alt="">
            </a>
        </div>
    </div>
    <div class="uk-text-center text-light uk-padding-small">
        &copy; {{app.author}} 2019
    </div>
</div>