<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="mode: click">

    <div class="uk-navbar-left uk-hidden@m">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #hamburger-menu"></a>
    </div>

    <div class="uk-navbar-right uk-hidden@m">
        <a href="{{app.url}}" class="uk-navbar-item nav-logo">
            <img src="{{app.logo}}" alt="{{app.title}}" width="32px" uk-img>
        </a>
    </div>

    <div class="uk-navbar-left uk-visible@m">
        <a href="{{app.url}}" class="uk-navbar-item nav-logo">
            <img src="{{app.logo}}" alt="{{app.title}}" width="32px" uk-img>
        </a>
    </div>

    <div class="uk-light uk-navbar-right uk-visible@m">

        {% import "macros/nav.macro.njk" as nav %}
        <ul class="uk-navbar-nav" uk-scrollspy-nav="closest: li; scroll: true;offset:80">
            {{nav.links()}}
        </ul>

        <div class="uk-navbar-item uk-margin-large-left">
            <a href="{{data.links.login}}" class="uk-button uk-button-outline uk-button-primary">
                Log In
            </a>
        </div>

    </div>
</nav>